.lineForm2 {
    display: flex;
    justify-content: space-between;
}
.tableSix {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
}
.tableThree {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.twoSix{
    grid-column: span 2;
}
