.tabContainer {
    background: linear-gradient(270deg, #2685C9 0%, #2C68B1 100%);
    /*width: fit-content;*/
    display: grid;
    grid-template-columns: 1fr;
}

.listGrid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 1em;
}
