body {
  margin: 0;
  font-family: Roboto,BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-menu, .ant-menu-item,.ant-menu-submenu-title,.ant-menu-inline {
  font-family: Roboto,BlinkMacSystemFont;
  background: #2685C9 !important;
}
.ant-menu-item > spam {
  opacity: 70%;

}
.ant-tabs-nav-wrap {
  padding: 1em 1em 0em 1em;
}
.ant-tabs-nav-list {
  display: grid!important;
  grid-template-columns: 1fr 1fr 1fr 1fr!important;
}
.ant-tabs-nav-wrap >div {
  flex: 1;
}

.ant-tabs-tab {
  display: flex;
  justify-content: center;
}
tr,th,td {
  border: 1px solid whitesmoke;
}
th {
  background-color: #FAFAFA;
}
#mainLayout {
  display: grid;
  grid-template-columns: 276px 1fr;
  gap: 1em;
}

.ant-menu-item-selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 232, 249, 0.15);
  z-index: 1;
}


.ant-menu-item-selected > span {
  /*color: red;*/
  z-index: 10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
